# 设置集群参数
{{ project_bin_path }}/kubectl config set-cluster kubernetes \
  --certificate-authority={{ gen_ssl_path }}/ca.pem \
  --embed-certs=true \
  --server=https://{{ KUBE_APISERVER }}:6443 \
  --kubeconfig={{ gen_ssl_path }}/bootstrap.kubeconfig
# --embed-certs 为 true 时表示将 certificate-authority 证书写入到生成的 bootstrap.kubeconfig 文件中；设置客户端认证参数时没有指定秘钥和证书，后续由 kube-apiserver 自动生成；
# 设置客户端认证参数
{{ project_bin_path }}/kubectl config set-credentials kubelet-bootstrap \
  --token={{ BOOTSTRAP_TOKEN }} \
  --kubeconfig={{ gen_ssl_path }}/bootstrap.kubeconfig

# 设置上下文参数
{{ project_bin_path }}/kubectl config set-context default \
  --cluster=kubernetes \
  --user=kubelet-bootstrap \
  --kubeconfig={{ gen_ssl_path }}/bootstrap.kubeconfig

# 设置默认上下文
{{ project_bin_path }}/kubectl config use-context default --kubeconfig={{ gen_ssl_path }}/bootstrap.kubeconfig
