{{ project_bin_path }}/etcdctl --endpoints={% for item in etcd_hosts %}https://{{ item.ip }}:2379{% if not loop.last %},{% endif %}{% endfor %} --ca-file={{ project_config_path }}/ssl/ca.pem \
--key-file={{ project_config_path }}/ssl/server-key.pem \
--cert-file={{ project_config_path }}/ssl/server.pem \
set /coreos.com/network/config '{"network":"{{ network }}", "Backend":{"Type":"vxlan"}}'

