FLANNEL_OPTIONS="--etcd-endpoints={% for item in etcd_hosts %}https://{{ item.ip }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
-etcd-cafile={{ project_config_path }}/ssl/ca.pem \
-etcd-certfile={{ project_config_path }}/ssl/server.pem \
-etcd-keyfile={{ project_config_path }}/ssl/server-key.pem"
