apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
featureGates:
  SupportIPVSProxyMode: true
mode: ipvs
clientConnection:
  kubeconfig: {{ project_config_path }}/cfg/kube-proxy.kubeconfig
