KUBELET_OPTS="--logtostderr=true \
--v=4 \
--hostname-override={{ NODE_ADDRESS }} \
--kubeconfig={{ project_config_path }}/cfg/kubelet.kubeconfig \
--bootstrap-kubeconfig={{ project_config_path }}/cfg/bootstrap.kubeconfig \
--config {{ project_config_path }}/cfg/KubeletConfiguration.yaml \
--cert-dir={{ project_config_path }}/ssl \
--fail-swap-on=false"
